* {
    margin:0px;
    padding:0px;
}

form ol {
    list-style: none;
}

ol li label {
    display: block;
}

form fieldset {
    background-color: hotpink;
}

input[type="submit"] {
    color: hotpink;
}
